<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

 <ion-nav-bar class="bar-dark">
   <ion-nav-back-button>
   </ion-nav-back-button>
 </ion-nav-bar>
      <ion-nav-view></ion-nav-view>
      <!-- Menu -->
      <script id="onglets.html" type="text/ng-template">

      <ion-tabs class="tabs-icon-top tabs-dark">

      <ion-tab title="Acceuil" icon="ion-home" ui-sref="onglets.accueil">

        <ion-nav-view name="accueil-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Découverte" icon="ion-alert" ui-sref="onglets.decouverte">
        <ion-nav-view name="decouverte-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Restauration" icon="ion-ios-nutrition" ui-sref="onglets.restauration">
        <ion-nav-view name="restauration-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Mon Compte" icon="ion-gear-a" ui-sref="onglets.moncompte">
        <ion-nav-view name="moncompte-tab"></ion-nav-view>
      </ion-tab>
    </ion-tabs>
  </script>



    <!--Page d'accueil-->
<script id="accueil.html" type="text/ng-template">
<ion-view title="Accueil">

  <ion-header-bar class="bar-dark" >
  <h1 class="title"> K & E Pro - Driver</h1>
</ion-header-bar>
  <ion-content class="padding">

    <h2 class="title">Bienvenue</h2>

    </ion-content>
  </ion-view>
</script>
  <!--Page d'inscription-->
<script id="inscription.html" type="text/ng-template">
<ion-view title="Inscription">
  <ion-header-bar class="bar-dark" >
  <h1 class="title">Inscription</h1>
</ion-header-bar>
  <ion-content class="padding" ng-controller="inscriptionFormController">
    <!-- formulaire d'inscription-->
    <form method="post" ng-submit="chercher(nom, prenom, email, tel, hotel, pseudo, motdepasse)">
      <label for="nom"  class="item item-input item-floating-label">
        <span class="input-label">Nom</span>
        <input type="text" placeholder="Nom" ng-model="nom" id="nom" required>
      </label>
      <label for="prenom" class="item item-input item-floating-label">
        <span class="input-label">Prénom</span>
        <input type="text" placeholder="Prénom" ng-model="prenom" id="prenom" required>
      </label>
      <label for="email" class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="Adresse mail" ng-model="email" id="email" required>
      </label>
      <label for="tel" class="item item-input item-floating-label">
        <span class="input-label">Numéro de télephone</span>
        <input type="text" placeholder="Numéro de télephone" ng-model="tel" id="tel" required>
      </label>
      <label for="hotel" class="item item-input item-select">
        <div class="input-label">
          Hotel
        </div>
        <select ng-model="hotel" id="hotel">
          <option>Hotel 1</option>
          <option>Hotel 2</option>
          <option>Hotel 3</option>
        </select>
      </label>
      <label for="pseudo"  class="item item-input item-floating-label">
        <span class="input-label">Pseudo</span>
        <input type="text" placeholder="Pseudo" ng-model="pseudo" id="pseudo" required>
      </label>
      <label for="motdepasse" class="item item-input item-floating-label">
        <span class="input-label">Mot de passe</span>
        <input type="password" placeholder="Mot de passe" ng-model="motdepasse" id="motdepasse" required>
      </label>
      <div class="submit">
        <button class="button button-block button-positive">
          S'inscrire
        </button>
      </div>
    </form>

    </ion-content>
  </ion-view>
</script>
  <!--Page de connexion-->
<script id="connexion.html" type="text/ng-template">
<ion-view title="Connexion">
  <ion-header-bar class="bar-positive" >
  <h1 class="title">Connexion</h1>
</ion-header-bar>
  <ion-content class="padding" ng-controller="connexionFormController">
Veuillez vous connecter:
      <!-- formulaire de connexion-->
      <form method="post" ng-submit="seconnecter(pseudo, motdepasse)">
        <label for="pseudo"  class="item item-input item-floating-label">
          <span class="input-label">Pseudo</span>
          <input type="text" placeholder="Pseudo" ng-model="pseudo" id="pseudo" required>
        </label>
        <label for="motdepasse" class="item item-input item-floating-label">
          <span class="input-label">Mot de passe</span>
          <input type="password" placeholder="Mot de passe" ng-model="motdepasse" id="motdepasse" required>
        </label>
        <div class="submit">
          <button class="button button-block button-positive">
            Se connecter
          </button>
        </div>
      </form>
      Vous n'avez pas de compte ? <a href="#/inscription" uisref="inscription"> Créer son compte </a>
      <br />
      <br />
      <br />
      <img id="logoAcc" src="img/kegroupe.png" alt="logo de l'entreprise"></img>
    </ion-content>
  </ion-view>
</script>
<!--Page de restauration-->
<script id="restauration.html" type="text/ng-template">
<ion-view title="Restauration">
<ion-header-bar class="bar-dark" >
<h1 class="title">Restauration</h1>
</ion-header-bar>
<ion-content class="padding">

Voici des restaurants qui pourraient vous intéresser
<div  class="list card">
  <div class="item item-avatar" >
    <img src="img/veggie_avenue_logo.jpg">
    <h2>Veggie Avenue</h2>
    <p>Nantes 44000</p>
    <p>
      Street food
    </p>
    <p>
      <br />
    <a ui-sref="onglets.restaurant" class="button button-royal"> Détails du restaurant</a>
    </p>
    <br />
    <a class="item item-icon-left balanced" href="#">
      <i class="icon ion-ios-navigate-outline"></i>
    M'y emmener
    </a>
  </div>




</div>

  </ion-content>
</ion-view>
</script>
<!--Page de découverte-->
<script id="decouverte.html" type="text/ng-template">
<ion-view title="Découverte">
<ion-header-bar class="bar-dark" >
<h1 class="title">Découverte</h1>
</ion-header-bar>
<ion-content class="padding">

Voici des activités qui pourraient vous intéresser
<div  class="list card">
  <div class="item item-avatar" >
    <img src="img/veggie_world_logo.png">
    <h2>Veggie World</h2>
    <p>Nantes 44000</p>
    <p>
      <br />
    <a ui-sref="onglets.activite" class="button button-royal"> Détails de l'activité</a>
    </p>
    <br />
    <a class="item item-icon-left balanced" href="#">
      <i class="icon ion-ios-navigate-outline"></i>
    M'y emmener
    </a>
  </div>
  </ion-content>
</ion-view>
</script>

<!--Page Mon Compte-->
<script id="moncompte.html" type="text/ng-template">
  <ion-view title="Mon Compte">
    <ion-header-bar class="bar-dark" >
      <h1 class="title">Mon compte</h1>
    </ion-header-bar>
    <ion-content class="padding">
      <h4>Vos informations personnelles:</h4>
      <p>
        <b> Nom : </b> {{NomRecu}}  <br />
        <b> Prénom : </b> {{PrenomRecu}} <br />
        <b> Adresse mail : </b> {{MailRecu}}  <br />
        <b> Numéro de télephone : </b> {{TelRecu}}  <br />
        <b> Hôtel : </b> {{HotelRecu}}  <br />
        <b> Pseudo : </b> {{PseudoRecu}}  <br />
        <b> Mot de passe : </b> {{MotDePasseRecu}}  <br />
      </p>
        <h4>Vos activités :</h4>
      <div class="list">
        <a class="item item-avatar" href="#">
          <img src="img/veggie_world_logo.png">
          <h2>Veggie World</h2>
          <p>Samedi 18 Mars - 15h00 <br />
          Chauffeur demandé pour 14h30.</p>
        </a>
        <a class="item item-avatar" href="#">
          <img src="img/veggie_avenue_logo.jpg">
          <h2>Veggie Avenue</h2>
          <p>Samedi 18 Mars - 19h30</p>
        </a>
      </div>
    </ion-content>
  </ion-view>
</script>
<!--Page d'un restaurant-->
<script id="restaurant.html" type="text/ng-template">
<ion-view title="détails de ">
<ion-header-bar class="bar-dark" >
<h1 class="title"> Détails</h1>
</ion-header-bar>
<ion-content class="padding">

Détails d'un restaurant
  </ion-content>
</ion-view>
</script>
<!--Page d'une activité-->
<script id="activite.html" type="text/ng-template">
<ion-view title="détails de ">
<ion-header-bar class="bar-dark" >
<h1 class="title">Détails de</h1>
</ion-header-bar>
<ion-content class="padding">
Détails d'une activité


  </ion-content>
</ion-view>
</script>
<!--Page de mes reservations-->
<script id="reservations.html" type="text/ng-template">
<ion-view title="Mes reservations ">
<ion-header-bar class="bar-dark" >
<h1 class="title">Mes réservations</h1>
</ion-header-bar>
<ion-content class="padding">
Vos dernières reservations


  </ion-content>
</ion-view>
</script>

  </body>
</html>
