<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

  <title></title>

  <link rel="manifest" href="manifest.json">

  <!-- un-comment this code to enable service worker
  <script>
  if ('serviceWorker' in navigator) {
  navigator.serviceWorker.register('service-worker.js')
  .then(() => console.log('service worker installed'))
  .catch(err => console.log('Error', err));
}
</script>-->

<link href="lib/ionic/css/ionic.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">

<!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
<link href="css/ionic.app.css" rel="stylesheet">
-->

<!-- ionic/angularjs js -->
<script src="lib/ionic/js/ionic.bundle.js"></script>

<!-- cordova script (this will be a 404 during development) -->
<script src="cordova.js"></script>

<!-- your app's js -->
<script src="js/app.js"></script>
</head>
<body ng-app="starter">

  <ion-nav-bar class="bar-dark">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
  <ion-nav-view></ion-nav-view>
  <!-- Menu -->
  <script id="onglets.html" type="text/ng-template">

    <ion-tabs class="tabs-icon-top tabs-dark">

      <ion-tab title="Accueil" icon="ion-home" ui-sref="onglets.accueil">

        <ion-nav-view name="accueil-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Activité" icon="ion-ios-navigate-outline" ui-sref="onglets.decouverte">
        <ion-nav-view name="decouverte-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Restauration" icon="ion-ios-nutrition" ui-sref="onglets.restauration">
        <ion-nav-view name="restauration-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab title="Mon Compte" icon="ion-ios-contact" ui-sref="onglets.moncompte">
        <ion-nav-view name="moncompte-tab"></ion-nav-view>
      </ion-tab>
    </ion-tabs>
  </script>



  <!--Page d'accueil-->
  <script id="accueil.html" type="text/ng-template">
      <ion-view title="Accueil">
        <ion-header-bar class="bar-dark" >
          <h1 class="title"> K  E Pro - Driver</h1>
        </ion-header-bar>
        <ion-content class="padding" ng-controller="accueilController">
          <div class="bar bar-dark" style="position: relative; top: 0px;">
            <h1 class="title">Bienvenue {{PrenomRecu}} {{NomRecu}}</h1>
          </div>
          <img id="logoAcc" src="img/kegroupe.png" alt="logo de l'entreprise"></img>
          <div style="text-align: center">
            Premium Service vous propose un large choix d'activités aux alentours de votre hôtel
            (restauration, visites, dégustations, soirées, ...) ainsi que la possibilité de vous y emmener.
          </div>
          <div class="bar bar-dark" style="position: relative; top: 5px;">
            <h1 class="title">Quelques idées</h1>
          </div>
          <div class="list" style="top: 15px;">
            <a class="item item-thumbnail-left item-text-wrap"  ui-sref="onglets.restaurant">
              <img src="{{exRestau.Image}}">
              <h2>{{exRestau.Nom}}</h2>
              <p>{{exRestau.Description.substring(0,100)}} ...</p>
            </a>
            <a class="item item-thumbnail-left item-text-wrap" ui-sref="onglets.activite">
              <img src="{{exDecou.Image}}">
              <h2>{{exDecou.Nom}}</h2>
              <p>{{exDecou.Description.substring(0,100)}} ...</p>
            </a>
            </div>
          </ion-content>
        </ion-view>
      </script>
  <!--Page d'inscription-->
<script id="inscription.html" type="text/ng-template">
<ion-view title="Inscription">
  <ion-header-bar class="bar-dark" >
  <h1 class="title">Inscription</h1>
</ion-header-bar>
  <ion-content class="padding" ng-controller="inscriptionFormController">
    <!-- formulaire d'inscription-->
    <form method="post" ng-submit="chercher(nom, prenom, email, tel, hotel, pseudo, motdepasse)">
      <label for="nom"  class="item item-input item-stacked-label">
        <span class="input-label">Nom</span>
        <input type="text" placeholder="Votre nom" ng-model="nom" id="nom" required>
      </label>
      <label for="prenom" class="item item-input item-stacked-label">
        <span class="input-label">Prénom</span>
        <input type="text" placeholder="Votre prénom" ng-model="prenom" id="prenom" required>
      </label>
      <label for="email" class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="text" placeholder="Votre adresse mail" ng-model="email" id="email" required>
      </label>
      <label for="tel" class="item item-input item-stacked-label">
        <span class="input-label">Numéro de télephone</span>
        <input type="text" placeholder="Votre numéro de télephone" ng-model="tel" id="tel" required>
      </label>
      <label for="hotel" class="item item-input item-select">
        <div class="input-label">
          Hôtel
        </div>
        <img id="logoAcc" src="img/kegroupe.png" alt="logo de l'entreprise"></img>
        <div style="text-align: center">
          Premium Service vous propose un large choix d'activités aux alentours de votre hôtel
          (restauration, visites, dégustations, soirées, ...) ainsi que la possibilité de vous y emmener.
        </div>
        <div class="bar bar-dark" style="position: relative; top: 5px;">
          <h1 class="title">Quelques idées</h1>
        </div>
        <div class="list" style="top: 15px;">
          <a class="item item-thumbnail-left item-text-wrap" href="#">
            <img src="{{exRestau.Image}}">
            <h2>{{exRestau.Nom}}</h2>
            <p>{{exRestau.Description.substring(0,100)}} ...</p>
          </a>
          <a class="item item-thumbnail-left item-text-wrap" href="#">
            <img src="{{exDecou.Image}}">
            <h2>{{exDecou.Nom}}</h2>
            <p>{{exDecou.Description.substring(0,100)}} ...</p>
          </a>
          </div>
        </ion-content>
      </ion-view>
    </script>
    <!--Page d'inscription-->
    <script id="inscription.html" type="text/ng-template">
      <ion-view title="Inscription">
        <ion-header-bar class="bar-dark" >
          <h1 class="title">Inscription</h1>
        </ion-header-bar>
        <ion-content class="padding" ng-controller="inscriptionFormController">
          <!-- formulaire d'inscription-->
          <form method="post" ng-submit="chercher(nom, prenom, email, tel, hotel, pseudo, motdepasse)">
            <label for="nom"  class="item item-input item-stacked-label">
              <span class="input-label">Nom</span>
              <input type="text" placeholder="Votre nom" ng-model="nom" id="nom" required>
            </label>
            <label for="prenom" class="item item-input item-stacked-label">
              <span class="input-label">Prénom</span>
              <input type="text" placeholder="Votre prénom" ng-model="prenom" id="prenom" required>
            </label>
            <label for="email" class="item item-input item-stacked-label">
              <span class="input-label">Email</span>
              <input type="text" placeholder="Votre adresse mail" ng-model="email" id="email" required>
            </label>
            <label for="tel" class="item item-input item-stacked-label">
              <span class="input-label">Numéro de télephone</span>
              <input type="text" placeholder="Votre numéro de télephone" ng-model="tel" id="tel" required>
            </label>
            <label for="hotel" class="item item-input item-select">
              <div class="input-label">
                Hôtel
              </div>
              <select ng-model="hotel" id="hotel" >
                <option>Hostellerie du Marais</option>
                <option>Hotel Signature St Germain des Prés</option>
                <option>Hotel WO - Wilson Opera</option>
                <option>Hôtel Monge</option>
                <option>Hotel La Tamise - Esprit de France</option>
                <option>Le 10 Bis Hôtel</option>
                <option>La Réserve Paris - Hotel and Spa</option>
                <option>Maison Souquet</option>
                <option>Le Bristol Paris</option>
              </select>
            </label>
            <label for="pseudo"  class="item item-input item-stacked-label">
              <span class="input-label">Pseudo</span>
              <input type="text" placeholder="Choisissez votre pseudo ..." ng-model="pseudo" id="pseudo" required>
            </label>
            <label for="motdepasse" class="item item-input item-stacked-label">
              <span class="input-label">Mot de passe</span>
              <input type="password" placeholder="Choisissez votre mot de passe ..." ng-model="motdepasse" id="motdepasse" required>
            </label>
            <div class="submit">
              <button class="button button-block button-dark">
                S'inscrire
              </button>
            </div>
          </form>

        </ion-content>
      </ion-view>
    </script>
    <!--Page de connexion-->
    <script id="connexion.html" type="text/ng-template">
      <ion-view cache-view="false" title="Connexion">
        <ion-header-bar class="bar-positive" >
          <h1 class="title">Connexion</h1>
        </ion-header-bar>
        <ion-content class="padding" ng-controller="connexionFormController">
          <h4>Veuillez vous connecter :</h4>
          <!-- formulaire de connexion-->
          <form method="post" ng-submit="seconnecter(pseudo, motdepasse)">
            <label for="pseudo"  class="item item-input item-stacked-label">
              <span class="input-label">Pseudo</span>
              <input type="text" placeholder="Votre pseudo" ng-model="pseudo" id="pseudo" required>
            </label>
            <label for="motdepasse" class="item item-input item-stacked-label">
              <span class="input-label">Mot de passe</span>
              <input type="password" placeholder="Votre mot de passe" ng-model="motdepasse" id="motdepasse" required>
            </label>
            <div id="erreur"></div>
            <div class="submit">
              <button class="button button-block button-dark">
                Se connecter
              </button>
            </div>
          </form>
          Vous n'avez pas de compte ? <a href="#/inscription" uisref="inscription"> Créer son compte </a>
          <br />
          <br />
          <br />
          <img id="logoAcc" src="img/kegroupe.png" alt="logo de l'entreprise"></img>
        </ion-content>
      </ion-view>
    </script>
    <!--Page de restauration-->
    <script id="restauration.html" type="text/ng-template">
      <ion-view title="Restauration">
        <ion-header-bar class="bar-dark" >
          <h1 class="title">Restauration</h1>
        </ion-header-bar>
        <ion-content class="padding" ng-controller="restaurantActionController">
          Voici des restaurants qui pourraient vous intéresser
          <div id="listeRestau"  ng-repeat="restaurant in maReponseRecue">
            <div  class="card">
              <div class="item item-avatar item-text-wrap" >
                <img src="{{restaurant.Image}}">
                <h2>{{restaurant.Nom}}</h2>
                <p >{{restaurant.Adresse}}</p>
                <p>
                  {{restaurant.Specialite}}
                </p>
                <p>
                  <br />
                  <a ui-sref="onglets.restaurant3" class="button button-dark"> Détails du restaurant</a>
                </p>
                <br />
                <a class="item item-icon-left dark" ng-click="EmmenePopup()">
                  <i class="icon ion-ios-navigate-outline"></i>
                  M'y emmener
                </a>
              </div>
            </div>
          </div>
        </ion-content>
      </ion-view>
    </script>
    <!--Page de découverte-->
    <script id="decouverte.html" type="text/ng-template">
      <ion-view title="Découverte">
        <ion-header-bar class="bar-dark" >
          <h1 class="title">Découverte</h1>
        </ion-header-bar>
        <ion-content class="padding" ng-controller="decouverteActionController">
          <div id="listeDecouverte"  ng-repeat="decouverte in maReponseRecue">
            <div class="card">
              <div class="item item-avatar item-text-wrap" >
                <img src="{{decouverte.Image}}">
                <h2>{{decouverte.Nom}}</h2>
                <p >{{decouverte.Adresse}} </p>
                <br />
                <a ui-sref="onglets.restaurant" class="button button-dark"> Détails de l'activité</a>
                <p><br /></p>
                <a class="item item-icon-left dark" ng-click="EmmenePopup()">
                  <i class="icon ion-ios-navigate-outline"></i>
                  M'y emmener
                </a>
              </div>
            </div>
          </div>
        </ion-content>
      </ion-view>
    </script>

    <!--Page Mon Compte-->
    <script id="moncompte.html" type="text/ng-template">
      <ion-view title="Mon Compte">
        <ion-header-bar class="bar-dark" >
          <h1 class="title">Mon compte</h1>
        </ion-header-bar>

        <ion-content class="padding">
          <div class="bar bar-dark" >
            <h2 class="title">Vos informations personnelles</h2>
          </div>
          <p style="position: relative; top: 50px;">
            <b> Nom : </b> {{NomRecu}}  <br />
            <b> Prénom : </b> {{PrenomRecu}} <br />
            <b> Adresse mail : </b> {{MailRecu}}  <br />
            <b> Numéro de télephone : </b> {{TelRecu}}  <br />
            <b> Hôtel : </b> {{HotelRecu}}  <br />
            <b> Pseudo : </b> {{PseudoRecu}}  <br />

          </p>
          <a id="boutdeco" class="button button-dark" ui-sref="onglets.modifinfos">Modifier mes informations</a>    <a id="boutdeco" class="button button-dark" ng-click="deconnexion()">Se deconnecter</a>

          <div class="bar bar-dark" style="position: relative; top: 60px;">
            <h2 class="title">Vos activités</h2>
          </div>
          <div class="list" style="position: relative; top: 70px; font-size: 15px;">
            <div class="test">
              <a ng-click="confirmPopup()" ><img class="annuler" src="img\ic_cancel_black_24dp.png"></a>
              <a class="item item-avatar" href="#">
                <img src="img/veggie_world_logo.png">
                <h2>Veggie World</h2>
                <p>Samedi 18 Mars - 15h00 <br />
                  Chauffeur demandé pour 14h30.</p>
                </a>
              </div>
              <div class="test">
                <a ng-click="confirmPopup()" ><img class="annuler" src="img\ic_cancel_black_24dp.png"></a>
                <a class="item item-avatar" href="#">
                  <img src="img/veggie_avenue_logo.jpg">
                  <h2>Veggie Avenue</h2>
                  <p>Samedi 18 Mars - 19h30</p>
                </a>
              </div>

            </div>
          </ion-content>
        </ion-view>
      </script>

      <!--Page d'un restaurant-->
      <script id="restaurant.html" type="text/ng-template">
        <ion-view title="{{restau.Nom}}">
          <ion-header-bar class="bar-dark" >
            <h1 class="title"> Détails </h1>
          </ion-header-bar>
          <ion-content class="padding" ng-controller="restaurantActionController">
              <div class="boite">
                <img class="illustration" src="{{restau.Image}}" ></img>
              </div>
              <div class="boite2">
                <h4>{{restau.Nom}}</h4>
                <p> {{restau.Adresse}}<br />
                    {{restau.Ville}}<br />
                    <span class="etoiles">{{restau.NbEtoiles}}</span><img class="etoile" src="img/ic_star_black_24dp.png"></img>
                </p>
              </div>
            <div class="description">
              {{restau.Description}}
            </div>
            <img class="photo" src="{{restau.Photo}}">
            <img class="clock" src="img\ic_access_time_black_24dp.png"> <span class="horaire">{{restau.Horaire}}</span>
            <div class="card" id="suggestions">
              <div class="item item-divider">
                <b>Suggestion</b>
              </div>
              <div class="item item-text-wrap">
              {{restau.Specialite}}
              </div>
            </div>
            <p class="description"><b>Prix moyen : <span class="prix">{{restau.Tarif}}<span></b></p>
              <button id="boutresa" class="button button-dark" ng-click='showPopup()'>Réserver</button><button id="boutemmen" class="button button-dark" ng-click='EmmenePopup()'>M'y emmener</button>
              <br /><br /><br />
            </ion-content>
          </ion-view>
        </script>

          <!--Page d'une activité-->
          <script id="activite.html" type="text/ng-template">
            <ion-view title="{{decouv.Nom}}">
              <ion-header-bar class="bar-dark" >
                <h1 class="title">Simulateur de vol sur Boeing</h1>
              </ion-header-bar>
              <ion-content class="padding" ng-controller="activiteActionController">
                <img class="illustration" src="{{decouv.Image}}" ></img>
                <h3> {{decouv.Nom}}</h3>
                <p> {{decouv.Adresse}} <br /> {{decouv.Ville}} <br />  </p>
                <p class="description">
                  {{decouv.Description}}
                </p>
                <p class="description"><b><span class="prix">{{decouv.Tarif}} <span></b></p>
                  <button id="boutresa" class="button button-dark" ng-click='showPopup()'>Réserver</button>
                  <button id="boutemmen" class="button button-dark" ng-click='EmmenePopup()'>M'y emmener</button>
                </ion-content>
              </ion-view>
            </script>

            <!--Page de mes reservations-->
            <script id="reservations.html" type="text/ng-template">
              <ion-view title="Mes reservations ">
                <ion-header-bar class="bar-dark" >
                  <h1 class="title">Mes réservations</h1>
                </ion-header-bar>
                <ion-content class="padding">
                  Vos dernières reservations
                </ion-content>
              </ion-view>
            </script>

            <!--Page Modifier mes informations-->
            <script id="modifinfos.html" type="text/ng-template">
              <ion-view title="Modifier mes informations">
                <ion-header-bar class="bar-dark" >
                  <h1 class="title">Modifier mes informations</h1>
                </ion-header-bar>

                <ion-content class="padding">
                  <!-- Formulaire de modifications d'informations -->
                  <p>
                    <label for="nom" class="item item-input item-stacked-label">
                      <span class="input-label">Votre nom</span>
                      <input type="text" value="{{maReponseRecue[0].Nom}}" />
                    </label>
                    <label for="prenom" class="item item-input item-stacked-label">
                      <span class="input-label">Votre prénom</span>
                      <input type="text" value="{{maReponseRecue[0].Prenom}}"/>
                    </label>
                    <label for="mail" class="item item-input item-stacked-label">
                      <span class="input-label">Votre adresse mail</span>
                      <input type="text" value="{{maReponseRecue[0].Mail}}" />
                    </label>
                    <label for="telephone" class="item item-input item-stacked-label">
                      <span class="input-label">Votre numéro de téléphone</span>
                      <input type="tel" value="{{maReponseRecue[0].NumTel}}" />
                    </label>
                    <label for="hotel" class="item item-input item-select">
                      <span class="input-label">Votre hôtel</span>
                      <select ng-model="hotel" id="hotel">
                        <option>Hostellerie du Marais</option>
                        <option>Hotel Signature St Germain des Prés</option>
                        <option>Hotel WO - Wilson Opera</option>
                        <option>Hôtel Monge</option>
                        <option>Hotel La Tamise - Esprit de France</option>
                        <option>Le 10 Bis Hôtel</option>
                        <option>La Réserve Paris - Hotel and Spa</option>
                        <option>Maison Souquet</option>
                        <option>Le Bristol Paris</option>
                      </select>
                    </label>
                    <label for="pseudo" class="item item-input item-stacked-label">
                      <span class="input-label">Votre pseudo</span>
                      <input type="text" value="{{maReponseRecue[0].Pseudo}}" />
                    </label>
                    <label for="motdepasse" class="item item-input item-stacked-label">
                      <span class="input-label">Votre mot de passe</span>
                      <input type="text" value="{{maReponseRecue[0].Password}}" />
                    </label>
                  </p>
                  <a class="button button-block button-dark" ng-click="modifierInfos()">Enregistrer les modifications</a>
                </ion-content>
              </ion-view>
            </script>

          </body>
          </html>
