body{
  font-family: roboto;
}

img{
  width: 90px;
}

input{
  background-color: #EAEAEA !important;
  margin: 2.5%;
  width: 97.5% !important;
}

select{
  background-color: #EAEAEA !important;
  margin: 2%;
}

label{
  margin-top: 5px !important;
}

#logoAcc{
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

#boutdeco{
  background-color: #F1F1F1;
  color: black;
  border-color: black;
  position: relative;
  top: 50px;
  font-size: 15px;
}

#boutresa{
  float: left;
  width: 45%;
  margin-left: 2.5%;
}

#boutemmen{
  float: right;
  width: 45%;
  margin-right: 2.5%;
}

ion-header-bar{
  height: 100px;
}

ion-content{
  background-color: #EAEAEA;
}

.item{
  background-color: #F1F1F1;
}

.illustration{
  width: auto;
  height: 100px;
  float: left;
  margin-right: 10px;
}

.photo{
  width: 100%;
}

.etoile{
  width: auto;
}

.clock{
  float: left;
  width: auto;
}

.horaire{
  font-weight: bold;
  font-size: 15px;
  line-height: 50px;
}

.description{
  margin-top: 25px !important;
  text-align: center !important;
  font-size: 15px;
}

.prix{
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#suggestions{
  width:80%;
  margin-left: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
